<div class="row justify-content-md-center vl-project-master">
    <div class="col-6 col-offset-5 vl-project-main-container">
        <div class="vl-project-search-area">
            <app-search (searchWord)="triggerSearch($event)"></app-search>
            <button class="btn btn-primary" 
            [disabled]="searchWord.length > 0"
            (click)="showAddNewProjectDialog()" >Add a Project  <fa-icon [icon]="faAdd"></fa-icon></button>
        </div>
        <div class="vl-project-container">
            <div *ngIf="searchWord.length > 0 && currentProjectList.length == 0" class="alert alert-info" role="alert">
                Cannot find any matching record
              </div>
            <div *ngFor="let project of currentProjectList;let i = index" (click)="project.isCollapsed = !project.isCollapsed" >
                <div class="vl-project-project-list-item" style="display: flex;" >
                    <div><fa-icon *ngIf="project.isCollapsed" [icon]="faFolder"></fa-icon> <fa-icon *ngIf="!project.isCollapsed" [icon]="faFolderOpen"></fa-icon> {{project.name}} </div>
                    <div class="vl-project-project-list-item-actions" *ngIf="searchWord.length == 0">
                        <div title="Edit project" class="vl-project-action-edit"  (click)="showProjectEditDialog(project);$event.stopPropagation()">
                            <fa-icon  [icon]="faEdit"></fa-icon>
                        </div>
                        <div title="Delete project" class="vl-project-action-delete" (click)="deleteAProject(project);$event.stopPropagation()">
                            <fa-icon  [icon]="faTrashAlt"></fa-icon>
                        </div>
                        <div title="Add task under this project" class="vl-project-action-add" (click)="showAddProjectSubTask(project);$event.stopPropagation()">
                            <fa-icon  [icon]="faAdd"></fa-icon>
                        </div>
                    </div>

                </div>
                <div id="proj_{{project.id}}" class="vl-project-task-list-main-container" [ngStyle]="{'display':project.isCollapsed ? 'none' : 'block'}">
                    <div *ngFor="let task of project.tasks;let i = index">
                        <div style="display:flex;padding-left:20px;" class="vl-project-task-list-item" (click)="$event.stopPropagation()">
                            <div><fa-icon [icon]="faTasks" style="margin-right:5px;"></fa-icon> {{task.name}}</div>
                            <div class="vl-project-task-list-item-actions" *ngIf="searchWord.length == 0">
                                <div title="Edit task details" class="vl-project-action-edit" (click)="showTaskEditDialog(task,'project');$event.stopPropagation()">
                                    <fa-icon  [icon]="faEdit"></fa-icon>
                                </div>
                                <div title="Delete task" class="vl-project-action-delete" (click)="deleteParentTask(project,task,i);$event.stopPropagation()">
                                    <fa-icon  [icon]="faTrashAlt"></fa-icon>
                                </div>
                                <div title="Add task under this task" class="vl-project-action-add" (click)="showAddTaskSubTask(task);$event.stopPropagation()">
                                    <fa-icon  [icon]="faAdd"></fa-icon>
                                </div>
                            </div>
    
                        </div>
                        <ng-container *ngTemplateOutlet="itemList; context: {task:task}">
    
                        </ng-container>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <ng-template #itemList let-task="task">
        <div *ngFor="let childTask of task.children;let i = index" class="vl-project-task-list-item-container"
            style="padding-left:25px;">
            <div class="vl-project-task-list-item" (click)="$event.stopPropagation()">
                <div><fa-icon [icon]="faTasks" style="margin-right:5px;"></fa-icon>{{childTask.name}}</div>
                <div class="vl-project-task-list-item-actions" *ngIf="searchWord.length == 0">
                    <div title="Edit task details" class="vl-project-action-edit"  (click)="showTaskEditDialog(childTask,'sub');$event.stopPropagation()">
                        <fa-icon  [icon]="faEdit"></fa-icon>
                    </div>
                    <div title="Delete task" class="vl-project-action-delete" (click)="deleteSubTask(task,childTask,i);$event.stopPropagation()">
                        <fa-icon  [icon]="faTrashAlt"></fa-icon>
                    </div>
                    <div title="Add task under this task"  class="vl-project-action-add" (click)="showAddTaskSubTask(childTask);$event.stopPropagation()">
                        <fa-icon  [icon]="faAdd"></fa-icon>
                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="itemList; context: {task:childTask}">

            </ng-container>
        </div>
    </ng-template>
    <app-project-handle-dialog *ngIf="selectedView == tempViewType.Project"
        [action]="dialogActionType"
        [project]="selectedProject"
        (closeModalDialog)="handleProjectDialogAction($event)"> </app-project-handle-dialog>
    <app-task-handle-dialog 
        *ngIf="selectedView == tempViewType.Task" 
        [action]="dialogActionType"
        [task]="selectedTask"
        (closeModalDialog)="handleTaskDialogAction($event)"></app-task-handle-dialog>
</div>