$primary-color:rgb(55, 55, 255);
$secondary-color:rgb(255, 4, 33);


$red-1:rgb(247, 23, 23);
$light-red-1:rgb(255, 195, 195);

$blue-1:rgb(44, 53, 217);
$light-blue-1: #ebf1ff;
$light-blue-2: #bdd0fb;


$green-1:rgb(8, 158, 101);
$light-green-1:rgb(171, 255, 221);